# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java

# IDE
.idea/
*.iml
.project
.classpath
.settings/
.vscode/
*.md
UI_INTEGRATION_GUIDE.md
!README.md
INTEGRATION_AND_TESTING_GUIDE.md
# OS
.DS_Store

# Node (if added later)
node_modules/
dist/
build/
